<body ng-controller="plataformaCtrl">
        <p class="tituloPlataforma">Solicitação de empréstimo</p>
        <div class="jumbotronPlataforma">
        
        <table>
      <tr><td style="padding-left:50px">
          
            <table >
                    <tr><td> <p class="plataformaTexto">Valor do Empréstimo*</p></td></tr>
                    <tr><td><input type="text" class="plataformaLabel" placeholder="R$"></td></tr>
                    <tr><td><p class="plataformaTexto">Prazo do Empréstimo</p></td></tr>
                    <tr><td><input type="text" class="plataformaLabel" placeholder="Selecione"></td></tr>
                    <tr><td><p class="plataformaTexto">Data de fundação da empresa</p></td></tr>
                    <tr><td><input type="text" class="plataformaLabel" placeholder="Informe a data"></td></tr>
                    <tr><td><p class="plataformaTexto">Motivo do empréstimo</p></td></tr>
                    <tr><td><input type="text" class="plataformaLabel" placeholder="Selecione"></td></tr>
                    <tr><td><p class="plataformaTexto">Faturamento somado nos últimos 12 meses</p></td></tr>
                    <tr><td><input type="text" class="plataformaLabel" placeholder="Selecione"></td></tr>
                    <tr><td><button type="button" class="botaoPlataforma" ><p class="textoBotaoPlataforma" >Criar solicitação</p></button></td></tr>
                    </table>

      </td>
        <td style="padding-left:50px"><p class="plataformaLegenda">*Recomendamos colocar de 5%-10% a mais como margem de segurança, pois dependemos da transferência dos investidores e eventualmente alguns não realizam no tempo estabelecido.</p></td></tr>
      
        </table>
        
        </div>
        
        </body>