<body ng-controller="plataformaCtrl">
        <p class="tituloPlataforma">Solicitação de empréstimo</p>
        <div class="jumbotronPlataforma">
        
        <table ng-repeat="hist in historico">
      <tr><td style="padding-left:50px">
          
            <table >
                    <tr><td> <p class="plataformaTextoSolicitacao">Valor do Empréstimo</p></td>
                        <td><p class="plataformaTextoSolicitacao">Status</p></td>
                        <td><p class="plataformaTextoSolicitacao">Prazo do Empréstimo</p></td>
                        <td><p class="plataformaTextoSolicitacao">Taxa de juros</p></td>
                        <td><button type="button" class="botaoPlataforma" ><p class="textoBotaoPlataforma" >ver detalhes</p></button></td>
                        
                    </tr>
                    <tr><td>{{hist.valorDoEmprestimo}}</td>
                    <td>{{hist.status}}</td> 
                    <td>{{hist.prazoDoEmprestimo}}</td>
                    <td>{{hist.taxaDeJuros}}</td>
                    <td></td>
                </tr>
                    
        </table>   
        </div>
        </body>